html body {
    margin: 0;
    padding: 0;
    background-color: #1B1924;
    color: white;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    user-select: none;
}

#app-content {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    margin: 30px auto;
}

h1 {
    font-size: 25px;
}

#page-icon {
    width: 100px;
    margin: 0 auto;
}

#message-input {
    height: 120px;
    background-color: #444059;
    color: white;
    border: none;
    border-radius: 8px;
    resize: none;
    padding: 10px 20px;
    margin: 10px 0 5px;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
}

#message-details {
    display: flex;
    justify-content: space-between;
}

.message-detail {
    width: 120px;
    background-color: #444059;
    color: white;
    border: none;
    border-radius: 8px;
    resize: none;
    padding: 12px 15px;
    margin: 10px 0;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    text-align: center;
}

#publish-btn {
    background-color: #28A9F1;
    color: #04131C;
    border: none;
    border-radius: 8px;
    padding: 20px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 22px;
    margin: 8px 0;
    cursor: pointer;
}

h2 {
    font-size: 20px;
    margin: 20px auto;
}

#message-list {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    text-align: left;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column-reverse;
}

.message-div {
    background-color: white;
    color: #1B1924;
    padding: 5px 10px;
    margin: 8px 0;
    border: none;
    border-radius: 8px;
}

.message-btns {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-bottom: 5px;
    padding: 0;
}